body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: #00111A;
    color: #fff;
    overflow: hidden;
}

.main {
    display: flex;
    height: 100vh;
    padding: 0.5rem; 
}

.sidebar {
    background-color: #00111A;
    width: 280px;
    border-radius: 1rem; /*16px */
    margin-right: 0.5rem;
    
}

.main-content {
    background-color: #001824;
    flex: 1;
    border-radius: 1rem;
    overflow: auto; 
    padding: 0 1.5rem 0 1.5rem;
}

a {
    text-decoration: none;
    color: white;
}

.nav {
    background-color: #001824;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding: 0.5rem 0.75rem;
}

.nav-option {
    line-height: 40px;
    opacity: 0.7;
    padding: 0.5rem 0.75rem;
}

.nav-option a {
    font-weight: 600;
}

.nav-option:hover {
    opacity: 1;
}

.nav-option i {
    font-size: 1.25rem;
}

.nav-option a {
    font-size: 1rem;
    margin-left: 1rem;
}

.library {
    background-color: #001824;
    border-radius: 1rem;
    height: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem 0.75rem;

}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lib-options img {
    height: 1.25rem;
    width: 1.25rem;
}

.lib-options:hover {
    cursor: pointer;
}

.icons {
    font-size: 1.25rem;
    display: flex;
}

.fa-plus {
    margin-right: 1.15rem;
}

.fa-arrow-right {
    margin-right: 0.5rem;
}

.icons i {
    opacity: 0.7;
    position: relative;
}

.icons i:hover {
    opacity: 1;
    cursor: pointer;
}

.lib-box button {
    padding-left: 0.7rem;
    padding-right: 0.7rem;
}

.lib-box button:hover {
    cursor: pointer;
}

.box {
    height: 7.5rem;
    background-color: #001b29;
    border-radius: 0.75rem;
    margin: 0.75rem 0 0.1rem 0;
    padding: 0.1rem 0.45rem;
}

.box-p1 {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: -0.2rem;
}

.box-p2 {
    font-size: 0.85rem;
    opacity: 0.9;
    margin-bottom: 0.6rem;
}

.badge {
    border: none;
    border-radius: 100px;
    font-weight: 700;
    margin-top: 0.25rem;
    height: 2rem;
    width: fit-content;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

}

.recents {
    display: grid;
    margin-top: 0.25rem;
}

.recent-box {
    display: flex;
    align-items: center;
    margin-top: -0.3rem;
}

.recent-box:hover {
    cursor: pointer;
}

  
.recent-art img {
    width: 55px;
    height: 55px;
    border-radius: 4px;
    margin-right: 8px;
    border-radius: 12%;
    margin-top: 0.75rem;
}

.recent-info {
    flex-grow: 1;
    text-align: left;
}

.recent-title {
    font-size: 0.75rem;
    font-weight: bold;
    margin: 0;
    margin-bottom: 0.25rem;
}

.recent-artist {
    font-size: 0.7rem;
    margin: 0;
    opacity: 0.7;
}




.sticky-nav {
    position: sticky;
    top: 0;
    background-color: #001824;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem 0;
    z-index: 10;
}

.sticky-nav-icons {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 0.5rem;
    margin-top: 0.75rem;
}

.icon-wrapper {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    width: 24px;
    height: 24px;
    filter: brightness(0) invert(1);
}

.icon-first {
    opacity: 0.7;
}

.icon-first:hover {
    cursor: not-allowed;
}

.icon-second {
    opacity: 1;
}

.icon-second:hover {
    cursor: pointer;
}

.sticky-nav-options {
    display: flex; 
    align-items: center;
    margin-top: 0.95rem;
    /* font-size: 1rem; */
}

.nav-item {
    display: inline-block; 
    margin: 0 0.5rem; 
    vertical-align: middle;
    transition: opacity 0.3s;
}

.nav-item:hover {
    cursor: pointer;
    /* font-size: 1.06rem; */
    text-decoration: underline;
}

.icon-container {
    width: 40px; 
    height: 40px;
    background-color: rgba(0, 0, 0, 0.7); 
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1.5rem;
  }

  .icon-container:hover {
    cursor: pointer;
  }
  
  .icon-container i {
    color: white; 
    font-size: 1rem; 
    opacity: 0.7;
  }

  .icon-container i:hover {
    opacity: 1;
  }


@media (max-width: 1000px) {
    .hide {
        display: none;
    }
}

.headings {
    margin-left: 0.75rem;
    font-weight: bold;
}

.headings a:hover {
    text-decoration: underline;

}

.card {
    background-color: #001b29;
    width: 175px;
    border-radius: 0.75rem;
    padding: 0.75rem;
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    margin-right: 0.5rem;
    margin-bottom: 1.75rem;
    transition: opacity 0.2s ease, background-color 0.2s ease;
    background: linear-gradient(45deg, #002234, #001b20);
}

.card:hover {
    opacity: 0.5;
    background-color: rgba(211, 211, 211, 0.508);
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
}

.card-img {
    width: 100%;
    height: 180px;
    border-radius: 0.5rem;
}

.card-title {
    font-size: 0.95rem;
    font-weight: 550;
    margin-bottom: 0.011rem;
}

.card-info {
    font-size: 0.85rem;
    opacity: 0.8;
    margin-bottom: 1.75rem;

}

.footer {
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.line {
    width: 90%;
    height: 30%;
    /* border-top: 1px solid white; */
    opacity: 0.4;
    margin-bottom: 2rem;
}

.music-player {
    background-color: #001824;
    position: fixed;
    bottom: 0;
    width: 100%;
    /* height: 72px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.album {
    width: 25%;
}

.player {
    width: 50%;

}

.controls {
    width: 25%;
}

.player-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
}

.player-control-icon {
    height: 1rem;
    margin-right: 1.75rem;
    opacity: 0.7;
}

.player-control-icon:hover{
    opacity: 1;
}

.playback-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-bar {
    width: 70%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
}

.progress-bar::-webkit-slider-runnable-track {
    background-color: #ddd;
    border-radius: 100px;
    height: 0.3rem;
}

.progress-bar::-webkit-slider-thumb{
    appearance: none;
    height: 1rem;
    width: 1rem;
    background-color: white;
    border-radius: 50%;
    margin-top: -6px;
    border: 1px solid white;
}

.time {
    font-size: 0.8rem;
    margin-right: 0.5rem;
}

.album-art img {
    width: 60px;
    height: 60px;
    border-radius: 4px;
    margin-right: 10px;
    padding: 0.3rem;
    border-radius: 15%;
}

.song-info {
    flex-grow: 1;
    text-align: left;
}

.song-title {
    font-size: 0.9rem;
    font-weight: bold;
    margin: 0;
    margin-bottom: 0.25rem;
}

.song-title a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.artist {
    margin: 0;
    font-size: 0.7rem;
}

.artist a {
    opacity: 0.7;
}

.artist a:hover {
    opacity: 1;
    text-decoration: underline;
    cursor: pointer;
}

.player-icons {
    display: flex;
    align-items: center;
    height: 1rem;
}

.control-button {
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 0.5px;
    cursor: pointer;
    align-items: center;
    margin-top: 1.5rem;
    margin-right: 0.7rem;
    opacity: 0.7;
}

.control-button:hover{
    cursor: pointer;
    opacity: 1;
}

.control-text {
    position: relative; 
}

.control-text::after {
    position: absolute;
    top: -27px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    white-space: nowrap;
    text-transform: capitalize;
    opacity: 0;
    transition: opacity 0.2s;
}

.control-text[data-text="Forward"]::after {
    content: "Go Forward";
    font-weight: 600;
}

.control-text[data-text="Profile"]::after {
    content: "Your profile";
    font-weight: 600;
}

.control-text[data-text="Create"]::after {
    content: "Create playlist or folder";
    font-weight: 600;
}

.control-text[data-text="Show"]::after {
    content: "Show more";
    font-weight: 600;
}

.control-text[data-text="Save"]::after {
    content: "Save to Your Library";
    font-weight: 600;
}

.control-text[data-text="Now"]::after {
    content: "Now Playing view";
}

.control-text[data-text="Lyrics"]::after {
    content: "Lyrics";
}

.control-text[data-text="Queue"]::after {
    content: "Queue";
}

.control-text[data-text="Connect"]::after {
    content: "Connect to a device";
}

.control-text[data-text="Mute"]::after {
    content: "Mute";
}

.control-text[data-text="Picture"]::after {
    content: "Picture in picture";
}

.control-text:hover::after {
    opacity: 1;
}



.volume-bar {
    width: 70%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
}

.volume-bar::-webkit-slider-runnable-track {
    background-color: #ddd;
    border-radius: 100px;
    height: 0.3rem;
    margin-right: 0.2rem;
}

.volume-bar::-webkit-slider-thumb{
    appearance: none;
    height: 1rem;
    width: 1rem;
    background-color: #ddd;
    border-radius: 50%;
    margin-top: -6px;
}
